{% extends "dashboard.html" %}
{% load static %}
{% block start %}
<div class="container">
    <div class="row row-cols-2">
        {% for doctor in doctors %}
        <div class="col">
            <div class="doctor-info">
                <img src="{{doctor.image.url}}" alt="Dr. John Doe" class="img-thumbnail"style="width: 100px; height: auto;">
                <h2>{{doctor.name}}</h2>
                <p>Degree: {{doctor.degree}}</p>
                <p>Specialization: {{doctor.specialization}}</p>
                <p>Experience: {{doctor.experience}} years</p>
                <p>NMC no.: {{doctor.nmcNo}}</p>
                
                <a href="{% url 'appointments' doctor.id %}"><button class="btn btn-success gradient d-block mx-auto">Schedule Appointment</button></a>
            </div>
        </div>
        {% endfor %}
            <!-- <div class="doctor-info">
                <img src="{% static 'members/images/profile.png' %}" alt="Dr. Jane Smith" class="img-thumbnail"style="width: 100px; height: auto;">
                <h2>Dr. Jane Smith</h2>
                <p>Degree: Doctor of Medicine</p>
                <p>Specialization: Psychiatric</p>
                <p>Experience: 8 years</p>
                <p>NMC no.: 580</p>
                
                <button class="btn btn-success gradient d-block mx-auto">Schedule Appointment</button>
            </div> -->

        <!-- <div class="col-md-6">
            <div class="doctor-info">
                <img src="{% static 'members/images/profile.png' %}" alt="Dr. Another Doctor" class="img-thumbnail"style="width: 100px; height: auto;">
                <h2>Dr. Another Doctor</h2>
                <p>Degree: Doctor of Medicine (MD)</p>
                <p>Specialization: Another Specialization</p>
                <p>Experience: 15 years</p>
                <p>NMC no.: 580</p>
                <button class="btn btn-success gradient d-block mx-auto">Schedule Appointment</button>
            </div>
            <div class="doctor-info">
                <img src="{% static 'members/images/profile.png' %}" alt="Dr. Additional Doctor" class="img-thumbnail"style="width: 100px; height: auto;">
                <h2>Dr. Additional Doctor</h2>
                <p>Degree: Doctor of Osteopathic Medicine (DO)</p>
                <p>Specialization: Additional Specialization</p>
                <p>Experience: 12 years</p>
                <p>NMC no.: 580</p>
                <button class="btn btn-success gradient d-block mx-auto">Schedule Appointment</button>
            </div>
        </div> -->
    </div>
</div>
{%endblock%}